<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

</head>
<body>
<!-- 
    <div class="container">


        <h2>Bootstrap Demo</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint numquam nulla, labore est pariatur blanditiis minima reprehenderit soluta. Corrupti autem, amet quaerat necessitatibus nulla, accusantium perferendis dicta magni voluptatibus eaque delectus quas explicabo rem molestiae eligendi rerum obcaecati excepturi! Aliquid sed iusto animi quae. Exercitationem culpa dolore accusamus fuga explicabo odit vitae beatae alias veniam laborum.
        </p>


        <button class="btn btn-danger">Click Me</button>
        <button class="btn btn-outline-info">Click Me</button>
        <button class="btn btn-outline-warning btn-sm" disabled>Click Me</button>
        <button class="btn btn-success btn -lg ">Click Me</button>

        <a href="#" class="btn btn-outline-info">Google</a>

        <br>

        <h3>Notification <span class="badge bg-primary rounded-pill">20+</span> </h3>

        <button class="btn btn-primary">
            Followers 
            <span class="badge bg-secondary rounded-pill">100+</span>
        </button>


    </div>
    <br>

    <div class="alert alert-danger">Download failed please try again</div>

    <div class="alert alert-success alert-dismissible">Congratulations your score is 50 out of 50
        <button class="btn-close" data-bs-dismiss="alert"></button>
    </div> -->










    <h2>Hello world</h2>
    <nav class="navbar bg-primary fixed-top navbar-expand-lg" data-bs-theme ="dark" >
        <div class="conatiner-fluid">
             <a href="#" class="navbar-brand">Brand Name</a>
            <button class="navbar-toggler" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#navbarNavAltMarkup">

                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

             <div class="navbar-nav">
        <a href="#"  class="nav-link">Home</a>
        <a href="#" class="nav-link">Contact</a>
        <a href="#" class="nav-link">About us</a>

        </div>
        </div>
        <form class="d-flex">

         <input class="form-control me-2" type="search" placeholder="Search" />
        <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
        </div>
    </nav>

    <div class="container">
        <h2>Bootstrap Demo</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam illo aliquid sequi voluptatum veniam recusandae autem aperiam eius provident ullam! Reiciendis beatae quisquam sed ab ducimus tempora vitae cupiditate libero, veritatis consectetur. Mollitia aut sunt voluptatum quidem consequuntur sequi dolores ad nesciunt! Mollitia minima sapiente debitis aliquid odio laudantium harum porro blanditiis ducimus facilis deleniti eum quos corporis, neque ipsam sit impedit. Sunt minima exercitationem minus facere atque explicabo nulla iste corrupti aliquam magni! Magnam a eligendi suscipit repellat! Magnam impedit earum doloremque dolorum, ad officiis sunt nemo est sint odit molestiae obcaecati aperiam error, veniam adipisci corporis architecto beatae! Dolorum!</p>

        <div class="btn-group">
        <button class="btn btn-outline-primary">one</button>
        <button class="btn btn-outline-primary">two</button>
        <button class="btn btn-outline-primary">three</button>
        </div>

        <button class="btn btn-success">one</button>
        <button class="btn btn-success">two</button>
        <button class="btn btn-success">three</button>
    </div>




    <script src="<script src = https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

</body>
</html>